<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @value.label %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@value.content) %>
</p>

<%= link_to 'Edit', edit_value_path(@value), class: 'btn btn-primary' %>
<%= link_to 'Back', values_path, class: 'btn btn-info ' %>
